.main {
  --back: hsl(0deg 0% 0% / 0.3);
  --hover: hsla(288, 100%, 50%, 1);

  --seasalt: hsla(210, 17%, 98%, 1);
  --antiflash-white: hsla(210, 16%, 93%, 1);
  --platinum: hsla(210, 14%, 89%, 1);
  --french-gray: hsla(210, 14%, 83%, 1);
  --french-gray-2: hsla(210, 11%, 71%, 1);
  --slate-gray: hsla(208, 7%, 46%, 1);
  --outer-space: hsla(210, 9%, 31%, 1);
  --onyx: hsla(210, 10%, 23%, 1);
  --eerie-black: hsla(210, 11%, 15%, 1);

  min-height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(
    0deg,
    var(--eerie-black),
    var(--slate-gray)
  );
  background: -moz-linear-gradient(0deg, var(--eerie-black), var(--slate-gray));
  background: linear-gradient(0deg, var(--eerie-black), var(--slate-gray));
  color: var(--antiflash-white);
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

.block {
  overflow: hidden;
  padding: 15px;
  background-color: var(--back);
  border-radius: 15px;
  gap: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.shadow {
  -webkit-box-shadow: 0px 20px 49px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 20px 49px -13px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 20px 49px -13px rgba(0, 0, 0, 0.5);
}
input {
  all: unset;
  border-bottom: 1px solid black;
  padding: 5px;
}
button {
  all: unset;
  background-color: var(--platinum);
  color: var(--eerie-black);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: var(--french-gray-2);
}
button:active {
  transform: scale(0.95);
}

.inputBlock > input {
  width: calc(100% - 15px);
}
.inputBlock > button {
  width: 40%;
  margin-top: 10px;
}
.field {
  overflow: hidden;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.field > div {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  flex-direction: column;
  gap: 10px;
}

#helper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--back);
  font-size: 0.5em;
  font-weight: bold;
  user-select: none;
}
